<ul>
    <li><a href="http://localhost:8080/api/products">Productos</a></li>
    <li>🛒</li>
    <li><a href="http://localhost:8080/profile">Mi perfil</a></li>
</ul>

{{#if productsData}}
<ul>
    {{#each productsData}}
        <li>
            {{product.title}} - Cantidad: {{quantity}}
            <button onclick="removeProduct('{{product._id}}')"> ✖ </button>
            <p style="display: none;">{{product._id}}</p>
            <form action="/api/cart" method="post" id="quantityForm">
                <input type="hidden" name="cartId" value="65dd1855e6e9fa1e5b043821">
                <input type="hidden" name="productId" id="productId" value="{{product._id}}">
                <label for="quantity">Cantidad a añadir:</label>
                <input type="number" id="quantity" name="quantityToAdd" required>
                <input type="submit" value="Añadir Cantidad">
            </form>
        </li>
    {{/each}}
</ul>
<button onclick="clearCart()">Vaciar Carrito</button>
{{else}}
    <p>El carrito está vacío.</p>
{{/if}}

<script>

    async function clearCart() {

        try {
            const response = await fetch(`/api/cart/clear`, {
                method: 'DELETE'
            });
            } catch (error) {
                console.error('Error al realizar la solicitud para vaciar el carrito:', error);
            } finally {
                window.location.href = "http://localhost:8080/api/cart";
        }
    }


    async function removeProduct(productId) {

        try {
            const response = await fetch(`/api/cart/removeProduct/${productId}`, {
                method: 'DELETE',
            });
        } catch (error) {
            console.error('Error al realizar la solicitud para eliminar el producto:', error);
        } finally {
            window.location.href = "http://localhost:8080/api/cart";
        }
    }

</script>